:root {
  --white: #ffffff;
  --blue: #3e7eb5;
  --border-color: #e8e8e8;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.lorem {
  width: 200px;
  min-height: 300px;
  padding: 20px 10px;
  font-family: 'Roboto', sans-serif;
}

.lorem__input-group {
  margin-bottom: 10px;
}

.lorem__label {
  display: block;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 10px;
}

.lorem__input {
  padding-left: 10px;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  box-shadow: none;
  outline: 0;
  border: 1px solid var(--border-color);
  margin-bottom: 15px;
}

.lorem__button {
  width: 100%;
  border: none;
  font-size: 14px;
  background-color: var(--blue);
  color:  var(--white);
  padding: 7px 10px;
  border-radius: 40px;
  outline: 0;
  cursor: pointer;
  transition: background-color 1s ease;
}

.lorem__button:hover {
  background-color: var(--blue);
}

.lorem__saved-message {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.lorem__saved-message.is-visible {
  display: block;
}